version: '3.7'

networks:
  web:
    external: true

services:
  db_postgres:
    image: postgres:11.5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - PGDATA=/var/lib/postgresql/data/pgdata
    restart: always
  
  django_gunicorn:
    volumes:
      - static:/app/static
    env_file:
      - .env
    build:
      context: .
    expose: 
      - "8000"
    depends_on:
      - db_postgres
    restart: always

  nginx:
    build: ./nginx
    volumes:
      - static:/app/static
    ports:
      - "8001:80"
    networks:
      - web
    depends_on:
      - django_gunicorn
    restart: always
    labels:
      # - "traefik.docker.network=proxy"
      # - "traefik.http.routers.portfolio-secure.entrypoints=websecure"
      # - "traefik.http.routers.portfolio-secure.rule=Host(`luis.briones.com.ar`)"
      # - "traefik.http.routers.portfolio-secure.service=portfolio"
      # - "traefik.http.services.portfolio.loadbalancer.server.port=8000"

      # - traefik.http.routers.portfolio.rule=Host(`luis.briones.com.ar`)
      # - traefik.http.routers.portfolio.tls=true
      # - traefik.http.routers.portfolio.tls.certresolver=lets-encrypt
      # - traefik.port=8000
            
      - traefik.enable=true
      - traefik.docker.network=web
      - traefik.http.routers.portfolio-secure.rule=Host(`luis.briones.com.ar`)
      - traefik.http.routers.portfolio-secure.tls=true
      - traefik.http.routers.portfolio-secure.tls.certresolver=lets-encrypt
      - traefik.http.services.portfolio.loadbalancer.server.port=8001

volumes:
  static:
  postgres_data:

