{% extends "base.html" %} {% load static %} {% block content %}
<h1 class="detail">{{ project.title }}</h1>
<div class="row">
  <div class="col-md-8">
    <img src="/media/{{ project.image_path }}" alt="" width="100%" />
  </div>
  <div class="col-md-4 detail">
    <h5>From - To:</h5>
    <p>{{ project.start_date }} - {% if project.finish_date %} {{ project.finish_date }} {% else %} Present {% endif %}</p>
    <h5>About the project:</h5>
    <p>{{ project.description|safe }}</p>
    <br />
    <h5>Technology used:</h5>
    <p>{{ project.technology }}</p>
  </div>
</div>
{% endblock %}
